/*
 * GWASi-flow configuration file
 */

// Pipeline parameters
params {
    // Input/output options
    gwas_url = null  // URL to download GWAS file from
    outdir = 'results'  // Output directory

    // Example value for testing
    // gwas_url = 'https://example.com/path/to/gwas.txt'
}

// Docker/Singularity container settings
process {
    container = 'ghcr.io/haglunda/gwasi-flow:latest'
}

// Enable Docker by default
docker {
    enabled = true
}

// Execution profiles
profiles {
    standard {
        process.executor = 'local'
    }
    
    slurm {
        process.executor = 'slurm'
        process.queue = 'standard'
    }
}

// Manifest
manifest {
    name = 'GWASi-flow'
    author = 'HaglundA'
    description = 'A Nextflow pipeline for GWAS data ingestion and processing'
    version = '0.1.0'
    homePage = 'https://github.com/HaglundA/gwasi-flow'
}
